<h1><%= @restaurant.name %></h1>

<ul>
  <li>Category: <%= @restaurant.category %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone number: <%= @restaurant.phone_number %></li>
</ul>

<p>Reviews:</p>

<ul>
  <% @restaurant.reviews.each do |review|%>
    <li>
      <%= review.content %>
      <%= '*' * review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add review', new_restaurant_review_path(@restaurant.id) %> <br><br>

<%= link_to "Back to list", restaurants_path %>


